<!DOCTYPE html>
  <html>
    <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin dashboard</title>
    <!--bootstrap style-->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
  </head>
    <body>
      <h1>Hello Admin!</h1>
      <% if (typeof result !== 'undefined') { %>
      <h2><%= result %></h2>
      <% } %>
      <% if (typeof unVerifiedLists !== 'undefined') { %>
      <h1>未承認リスト(<%= unVerifiedLists.length %> 件)</h1>
      <% } %>
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">UserId</th>
                  <th scope="col">First</th>
                  <th scope="col">Last</th>
                  <th scope="col">email</th>
                  <th scope="col">img</th>
                  <th scope="col">action</th>
                </tr>
              </thead>
              <tbody>
                  <% if (typeof unVerifiedLists !== 'undefined') { %>
                    <% for( var i in unVerifiedLists){ %>
                <form action="/admin_dashboard" method="post">
                <tr>
                  <th scope="row"><input name="id" value="<%= unVerifiedLists[i].user_id %>"/></th>
                  <td><%= unVerifiedLists[i].firstname %></td>
                  <td><%= unVerifiedLists[i].lastname %></td>
                  <td><input name="email" value="<%= unVerifiedLists[i].email %>"/></td>
                  <td>
                    <img class="img-thumbnail" src="../upload/tmp/<%= unVerifiedLists[i].id_image %>"<br>
                    <a href="http://localhost:3000/upload/tmp/<%= unVerifiedLists[i].id_image %>">img</a> 
                  </td>
                  <td>
                    <input class="btn btn-primary" type="submit" value="承認" />
                    <input class="btn btn-dark" name="deny" type="submit" value="deny"/>
                  </td>
                </tr>
                </form>
                    <% } %>
                  <% } %>
              </tbody>
            </table>
    </body>
  </html>